body {
  background-color: rgb(230, 224, 218);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  header {
    padding: 80px 0;
  }

  header h1 {
    font-size: 32px;
  }

  header h2 {
    font-size: 22px;
  }

  header h3 {
    font-size: 14px;
    margin-top: 20px;
  }

  header a {
    margin-top: 50px;
    padding: 10px 16px;
    font-size: 10px;
    letter-spacing: 3px;
  }

  main section.grid.grid-2-columns {
    grid-template-columns: 1fr;
    grid-gap: 34px;
    text-align: center;
    max-width: 600px;
  }

  main section.grid.grid-2-columns.main-section-img {
    display: block;
    width: 100%;
  }

  .grid.grid-3-columns {
    grid-template-columns: 1fr;
    grid-gap: 34px;
  }

  .grid.grid-1-column {
    grid-template-columns: 1fr;
    grid-gap: 34px;
  }

  .grid.grid-1-column.embed {
    aspect-ratio: 16/8;
  }

  .grid.grid-3-columns-first-narrow {
    grid-template-columns: 1fr;
    grid-gap: 34px;
  }

  .main-section h2 {
    font-size: 34px;
    font-family: "Gwendolyn", cursive;
  }

  .secondary-section h2 {
    font-size: 34px;
    font-family: "Gwendolyn", cursive;
  }

  .terciary-section h2 {
    font-size: 34px;
    font-family: "Gwendolyn", cursive;
  }

  .grid-1-column h2 {
    font-size: 34px;
    font-family: "Gwendolyn", cursive;
  }

  .responsive-img-no-display {
    display: none;
  }

  .responsive-map-no-display {
    display: none;
  }

  section.responsive-no-section {
    display: none;
  }

  .terciary-section {
    padding-top: 10px;
  }
}

header {
  background-image: linear-gradient(rgba(54, 26, 26, 0.4), rgba(0, 0, 0, 0.3)),
    url("../images/background.jpg");
  background-repeat: no-repeat;
  color: antiquewhite;
  background-size: cover;
  text-align: center;
  padding: 140px 0;
}

header h3 {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
  opacity: 60%;
}

header h1 {
  font-family: "Gwendolyn", cursive;
  font-size: 120px;
  line-height: 1.5;
  margin: 60px 0;
}

header h2 {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  opacity: 50%;
}

header a {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  padding: 18px 28px;
  display: inline-block;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
  background: antiquewhite;
  margin-top: 60px;
}

section {
  margin: 0 auto;
  max-width: 100%;
  padding: 80px;
}

.grid {
  display: grid;
  grid-gap: 68px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.venice-info {
  margin: 0;
}

main {
  background-color: antiquewhite;
}

main h2 {
  font-family: "Gwendolyn", cursive;
  line-height: 1.5px;
  font-size: 50px;
  color: rgba(29, 26, 26, 0.4);
  letter-spacing: 1.3px;
}

main h3 {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 22px;
  color: rgba(29, 26, 26, 0.8);
  letter-spacing: 1.2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

main p {
  font-family: "Alegreya Sans", sans-serif;
  letter-spacing: 1.5px;
  color: rgba(29, 26, 26, 0.8);
  line-height: 1.5;
  font-size: 18px;
}

.main-section-img-1 {
  max-width: 70%;
  display: block;
  filter: sepia(80%);
  border: 6px solid rgb(103, 104, 96);
  margin-top: 16px;
}

.main-section-img-2 {
  max-width: 70%;
  display: block;
  filter: sepia(80%);
  border: 6px solid rgb(103, 104, 96);
  transform: translateX(100px) translateY(-20px) rotateZ(10deg);
}

section.secondary-section {
  background-color: rgba(255, 255, 255, 0.7);
}

.secondary-section h2 {
  text-align: center;
}

.secondary-section h3 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.grid-3-columns {
  grid-template-columns: repeat(3, 1fr);
}

.card {
  background-color: antiquewhite;
  margin: 30px 0;
  text-align: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}

.responsive-img {
  display: block;
  width: 100%;
}

.card h4 {
  font-weight: 700;
  margin: 0;
  font-size: 22px;
  line-height: 1.5;
  color: rgba(29, 26, 26, 0.4);
  font-family: "Alegreya Sans", sans-serif;
}

.card p {
  font-size: 16px;
}

.card-bottom {
  padding: 30px;
}

.button {
  display: block;
  color: #272044;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  margin-top: 20px;
  background-color: white;
  text-decoration: none;
  font-family: "Alegreya Sans", sans-serif;
}

.grid-1-column {
  grid-template-columns: 1fr;
}

.grid-1-column h2 {
  margin: 10px;
  text-align: center;
}

.embed {
  width: 100%;
  aspect-ratio: 21 /12;
}

section.terciary-section {
  background-color: rgba(255, 255, 255, 0.7);
}

.terciary-section h2 {
  text-align: center;
}

.terciary-section h3 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

footer {
  color: rgba(29, 21, 21, 0.8);
  background-image: linear-gradient(
      rgba(236, 233, 247, 0.7),
      rgba(236, 233, 247, 0.7)
    ),
    url("../images/footer-img.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

footer h3 {
  font-family: "Gwendolyn", cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 1.2px;
}

footer p {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.6px;
}

footer li {
  list-style: none;
  font-family: "Alegreya Sans", sans-serif;
}

footer ul {
  padding: 0;
}

footer a {
  color: rgba(61, 60, 60, 0.8);
  text-decoration: underline;
  letter-spacing: 0.6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

footer .venice-info a:hover {
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(29, 26, 26, 0.8);
}

footer a:hover {
  color: white;
}

.grid-3-columns-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
