/*font-family: "Alegreya Sans", sans-serif;*/

body {
  background-color: #ece9f7;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(54, 26, 26, 0.4), rgba(0, 0, 0, 0.3)),
    url("../images/background.jpg");
  background-repeat: no-repeat;
  color: antiquewhite;
  background-size: cover;
  text-align: center;
  padding: 140px 0;
}

header h1 {
  font-family: "Gwendolyn", cursive;
  font-weight: 700;
  font-size: 120px;
  line-height: 1.5;
  margin: 60px 0;
}

header h2 {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  opacity: 60%;
}

header h3 {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
  opacity: 60%;
}

header a {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  padding: 14px 28px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
  background: antiquewhite;
  margin-top: 60px;
}

@media (max-width: 900px) {
  header {
    padding: 80px 0;
  }

  header h1 {
    font-size: 52px;
  }

  header h2 {
    font-size: 22px;
  }

  header h3 {
    font-size: 14px;
    margin-top: 20px;
  }

  header a {
    margin-top: 50px;
    padding: 10px 16px;
    font-size: 10px;
    letter-spacing: 3px;
  }
}
