/*font-family: "Alegreya Sans", sans-serif;*/
/*font-family: 'Press Start 2P', cursive;*/

h1 {
  font-family: "Gwendolyn", cursive;
  /*font-style: normal;
  font-weight: 700;*/
  font-size: 96px;
  /*line-height: 144px;*/
}
